SUPABASE_URL=https://lfxldyqookfdwswnlimq.supabase.co
SUPABASE_ANON_KEY=<eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmeGxkeXFvb2tmZHdzd25saW1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzMTQ3MDgsImV4cCI6MjA3ODg5MDcwOH0.vAHLgft5rFRlzlYbcdBRFFdEnuI5d2YZgr14daps1Bo>